<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FinalExam Test Suite" verbose="10" parallel="false" thread-count="1">

    <test name="test">
        <classes>
            <class name="com.finalExam.Login"></class>
            <class name="com.finalExam.CartPage"></class>
        </classes>
    </test>



</suite>